:root {
  // Colors
  --primary-dark: #c625ee;
  --primary-light: #01a2ee;
  --text-dark: #fefefe;
  --text-light: #1d1d1d;
  --background-dark: #3b3b3b;
  --background-light: #ffffff;
  --gray-dark: #565656;
  --gray-light: #e5e5e5;

  // Shadows
  --shadow: 0 1px 3px rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) 0 28px 23px -7px,
    rgba(0, 0, 0, 0.04) 0 12px 12px -7px;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: light-dark(var(--text-light), var(--text-dark));
  background-color: light-dark(var(--background-light), var(--background-dark));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex: 1;
}

a {
  font-weight: 500;
  color: light-dark(var(--primary-light), var(--primary-dark));
  text-decoration: inherit;
}
a:hover {
  filter: brightness(85%);
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  display: inline-block;
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: light-dark(var(--gray-light), var(--gray-dark));
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: light-dark(var(--primary-light), var(--primary-dark));
}
button:focus,
button:focus-visible {
  outline: none;
}

input {
  display: inline-block;
  border-radius: 8px;
  border: 2px solid light-dark(var(--gray-light), var(--gray-dark));
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
input:hover {
  border-color: light-dark(var(--primary-light), var(--primary-dark));
}
input:focus,
input:focus-visible {
  outline: 4px auto light-dark(var(--primary-light), var(--primary-dark));
}
