.notification {
  padding: 1rem;
  min-width: 280px;
  border-radius: 0.5rem;
  background-color: light-dark(var(--text-dark), var(--text-light));
  transform: translate3d(120%, 0, 0);
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  border: 1px solid light-dark(var(--gray-light), var(--gray-dark));
  box-shadow: var(--shadow);
  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 6px;
    top: 0.3rem;
    bottom: 0.3rem;
    inset-inline-start: 4px;
    border-radius: 0.4rem;
  }
}

.info {
  &::before {
    background-color: #339af0;
  }
}

.success {
  &::before {
    background-color: #40c057;
  }
}

.warning {
  &::before {
    background-color: #f1c40f;
  }
}

.error {
  &::before {
    background-color: #e74c3c;
  }
}

.active {
  animation-name: slideInRight;
  animation-duration: 300ms;
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.closing {
  animation-name: slideOutRight;
  animation-duration: 300ms;
  opacity: 0;
}

@keyframes slideInRight {
  from {
    transform: translate3d(120%, 0, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes slideOutRight {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  to {
    transform: translate3d(120%, 0, 0);
    opacity: 0;
  }
}

.button {
  padding: 0.2rem 0.4rem;
  background-color: transparent;
  border: none;
  outline: none;
}

.icon {
  width: 1rem;
  height: 1rem;
}
